#testimonials {
  overflow: hidden;
  background:$green;
  padding:50px 0 20px 0;

  @include media-breakpoint-up(md) {
    padding:80px 0 50px 0;
  }

  .slick-slide {

    > div {
      width: 100%;
    }

  }

  .testimonial {

    > div {
      display: flex;
      justify-content: center;



      .user-image {
        display: none;

        @include media-breakpoint-up(md) {
          display: block;
          width:160px;
          min-width: 160px;
          height:160px;
          border-radius:160px;
          margin-right:50px;
        }

        img {
          width:100%;
        }

      }

      > div {
        position: relative;
        padding:0 50px;
        display: flex;
        align-items: center;
        width: 100%;
        font-family: $secondary-font;
        color:$blue;
        font-size:2rem;
        line-height:2.4rem;

        @include media-breakpoint-up(md) {
          padding:0 100px;
        }

        &:before, &:after {
          content:"";
          display: block;
          width:25px;
          height:25px;
          @include background-vector(icons/quote, contain);
          position: absolute;

          @include media-breakpoint-up(md) {
            width:45px;
            height:45px;
          }

        }

        &:before {
          top:0;
          left:0;
        }

        &:after {
          bottom:0;
          right:0;
          transform:rotate(180deg);
        }

        .testimonial-name {
          margin:20px 0 10px 0;
          font-size:1.4rem;
        }

        .testimonial-job {
          display: none;
          font-family: $primary-font;
          font-size:0.9rem;
          font-weight:600;
        }

        .testimonial-company {
          font-family: $primary-font;
          font-size:0.9rem;
          font-weight:600;
        }

      }

    }

  }

}
