/* Slider */

.slick-track {
  min-width:100vw;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding:0;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-dots {
  padding:0;
  margin-top:30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(md) {
    margin-top:50px;
  }


  li {
    display: block;
    width:10px;
    height:10px;
    background:$blue;
    text-indent:-100px;
    overflow: hidden;
    border-radius:10px;
    margin:7px;
    opacity:0.4;

    &.slick-active {
      opacity:1;
    }
  }

}

.slick-arrow.slick-hidden {
    display: none;
}


button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;

  &.slick-disabled {
    opacity:0.2;
  }
}

.prev-arrow,.next-arrow {
  display: block;
  width:14px;
  height:30px;
  position: absolute;
  top: -80px;
  @include background-vector(icons/arrow, contain);

  @include media-breakpoint-up(md) {
    top: -115px;
    width:20px;
    height:44px;
  }

}

.prev-arrow{
  right:40px;
  left: initial;
  margin-left:-50px;
  transform: rotate(180deg);

  @include media-breakpoint-up(md) {
    right: calc(10vw + 50px);
  }

}
.next-arrow{
  right: 0;
  left: initial;

  @include media-breakpoint-up(md) {
    right: 10vw;
  }

}
