.page-template-about {

  h1 {
  	color:$blue;

    @include media-breakpoint-up(md) {
      font-size: 25.5vw;
      line-height: 12vw;
    }

    span {
    	font-size: 12vw;
    	line-height: 12vw;

      @include media-breakpoint-up(md) {
        color:$pink;
      }

    }

  }

  .content {
    padding-bottom:100px;

    @include media-breakpoint-up(md) {
      padding-top:50px;
    }

    .col-md-6:last-child {
      @include media-breakpoint-up(md) {
        margin-top:-50px;
      }
    }

  }

  .blue {
    padding:80px 0 20px 0;

    @include media-breakpoint-up(md) {
      padding:100px 0 20px 0;
    }

    h2 {
      color:white;
      text-align: center;
      margin-bottom:80px;
    }

  }

  ul.values {
    padding:0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @include media-breakpoint-up(md) {
      width: calc(100% + 60px);
      position: relative;
      left: -30px;
    }

    li {
      text-align: center;
      list-style: none;
      margin-bottom:50px;
      color: white;

      @include media-breakpoint-up(md) {
        width:50%;
      }

      @include media-breakpoint-up(lg) {
        width:33.33%;
      }

      > div {
        padding:0 30px;
        color: white;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 110px;
          margin:20px 0 10px 0;
        }

        .service-content {
          overflow:hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 0.9rem;

          p {
            line-height:1.6rem;
            font-size: 0.9rem;
          }

        }

      }

      h5 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 20px 0;
      }

      .values-icon {
        display: flex;
        width:90px;
        height:90px;
        margin:0 auto;
        align-items: center;

        img {
          width: 100%;
          max-height:80px;
        }

      }

      &:nth-child(odd){

        img {
          filter: invert(57%) sepia(65%) saturate(1107%) hue-rotate(302deg) brightness(103%) contrast(101%);
        }

      }

      &:nth-child(even){

        .values-icon {

          img {
            filter: invert(85%) sepia(51%) saturate(594%) hue-rotate(101deg) brightness(95%) contrast(91%);
          }

        }

      }

    }

  }

  #our-team {
    padding:80px 0;

    @include media-breakpoint-up(md) {
      padding:100px 0;
    }

    img {
      width: 100%;
      padding:0 0 50px 0;

      @include media-breakpoint-up(md) {
        padding:0 100px 0 0;
      }

    }

    .editor {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

  }

}
