#clients {

	.content {

		 > div {
			 max-width:800px;
			 margin:0 auto;
		 }

		 p {
			 text-align: center;;
		 }

	}

	.clients {
		margin-top:80px;
		padding:80px 0;

		@include media-breakpoint-up(md) {
			margin-top:100px;
			padding:0;
		}

		ul {
			margin-top:80px;
			padding:0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include media-breakpoint-up(md) {
				margin-top:60px;
				width: calc(100% + 60px);
				position: relative;
				left: -30px;
			}

			li {
				text-align: center;
				list-style: none;
				margin-bottom:80px;

				@include media-breakpoint-up(md) {
					width:50%;
				}

				@include media-breakpoint-up(lg) {
					width:33.33%;
				}

				h2 {
					display: none;
				}

				a {
					color:white;
					text-decoration: none;

					> div {
						padding:0 30px;

						span {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 110px;
							margin:20px 0 10px 0;
						}

						h3 {
							text-align: left;
							font-size:3rem;
							margin-bottom:15px;
						}

						.client-logo {
							background:white;
							display: flex;
							align-items: center;
							justify-content: center;
							padding:50px;
							height:350px;

							img {
								max-width:150px;
							}

						}

						.client-content {
							overflow:hidden;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							overflow: hidden;
							font-size: 0.9rem;

							p {
								line-height:1.6rem;
								font-size: 0.9rem;
								text-align: left;
							}

						}

					}

				}


			}

		}

	}

}
