.single-clients {

	#intro {
		margin-bottom:80px;

		@include media-breakpoint-up(md) {
			margin-bottom:100px;
		}

		h1 {
			font-size: 3.4rem;
			line-height: 3.8rem;
			margin:25px 0;

			@include media-breakpoint-up(md) {
				font-size:8rem;
				line-height: 8rem;
				margin:40px 0;
			}

		}

		> div {
			max-width:800px;
			margin:0 auto;
		}

		p {
			text-align: center;;
		}

	}

	.content {

		.icon {
			padding:50px;

      @include media-breakpoint-up(md) {
        padding:0 100px 0 0;
      }

			> div {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #FFFFFF;
				box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.07);
			}

			> div > div {
				flex: 1 0 auto;
				height: auto;
				position: relative;

				&:before {
					content: '';
					display: block;
					padding-top: 100%;
				}

				> div {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				img {
					width: 100%;
					height:100%;
					max-width:200px;
					max-height: 200px;
					object-fit: contain;
				}

			}

		}

	}

	#testimonials {
		background: $pink;
		padding: 80px 0;
		margin: 80px 0 0 0;
	}

	#services {
		color: white;
		padding:80px 0;

		h2 {
			color:white;
			margin:0 0 30px 0;
			font-size:6.5rem;
			line-height: 6.5rem;
			text-align: center;

			@include media-breakpoint-up(md) {
				text-align: left;
				margin:0;
			}

		}

		ul {
			list-style: none;
			padding:0;

			li {
				margin-bottom:30px;

				&:last-child {
					margin-bottom:0;
				}

				a {
					text-decoration: none;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					@include media-breakpoint-up(md) {
						flex-direction: row;
						justify-content: flex-start;
					}

				}

				h3 {
					font-size:2.5rem;
					text-align: left;
				}

				.services-icon {
					display: flex;
					width: 70px;
					min-width:70px;
					height:70px;
					align-items: center;
					justify-content: center;
					margin-bottom:30px;

					@include media-breakpoint-up(md) {
						margin-right:30px;
						margin-bottom:0;
					}

				}

				img {
					width:100%;
					filter: invert(57%) sepia(65%) saturate(1107%) hue-rotate(302deg) brightness(103%) contrast(101%);
				}

				&:nth-child(even) {

					img {
						filter: invert(85%) sepia(51%) saturate(594%) hue-rotate(101deg) brightness(95%) contrast(91%);
					}

				}

			}

		}

	}

}
