.page-template-contact {

  #cta {
    display: none;
  }

  .blue {
    padding:50px 0;
    margin-top:60px;

    @include media-breakpoint-up(md) {
      padding:100px 0;
      margin-top:100px;
    }


    h2 {
      color: white;
      margin:0;
      font-size:3rem;

      @include media-breakpoint-up(md) {
        font-size:5rem;
      }

    }

    p {
      color: white;
    }

  }

  #contact-details {
    margin:40px 0;

    > span {
      display: inline-block;
    }

    a {
      display: block;
      font-family: $secondary-font;
      color:white;
      font-size:2rem;
      text-decoration: none;
      margin:0 10px;

      &:first-child {
        margin-left:0;
      }

      @include media-breakpoint-up(md) {
        margin:0 20px;
      }

    }

    .social-icons {
      display: flex;
      margin:30px 0;

      @include media-breakpoint-up(md) {
        margin:20px 0;
      }

      span {
        margin: 0 10px;

        &:first-child {
          margin-left:0;
        }

        &:last-child {
          margin-right:0;
        }

        a {
          margin:0;
        }

      }

    }

  }

  .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px
  }

  div.wpforms-container-full {
    margin-top:10px;
  }

  div.wpforms-container-full .wpforms-form .wpforms-field-label {
    color: white;
    margin-bottom:10px;
  }

  div.wpforms-container-full .wpforms-form .wpforms-field {
    padding:10px;
  }

  div.wpforms-container-full .wpforms-form .wpforms-field {
    width: 50%;

    input, textarea {
      width: 100%;
      min-width: 100%;
      font-family: $primary-font;
      font-size:0.9rem;
    }

  }

  div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-textarea {
    width: 100%;
    font-family: $primary-font;
  }

  div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    resize: vertical;
  }

  div.wpforms-container-full .wpforms-form button[type=submit] {
    background:$green;
    border:none;
    outline:none;
    font-family: $secondary-font;
    font-family: $secondary-font;
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
    color:black;
    padding:15px 20px;
    float: right;
    margin:15px 10px 0 0 ;

    &:hover {
      background:$pink;
      outline: none;
      border:none;
    }

  }


  div.wpforms-container-full .wpforms-form .wpforms-required-label, div.wpforms-container-full .wpforms-form label.wpforms-error {
    color:$pink;
  }

}
