#cta {
  padding:80px 0;

  h3 {
    color:$blue;
    font-size:3rem;
    text-align: center;
    margin:0;

    @include media-breakpoint-up(md) {
      font-size:4rem;
      text-align: left;
    }

  }

  .btn {
    background: white;
    margin:0;
    font-size:1.6rem;
    margin:40px 0 0 0;

    @include media-breakpoint-up(md) {
      margin:0 0 0 40px;
    }

  }

  .col-12 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

  }

}


#footer {
  padding:50px 0;

  #footer-logo {
    width:90px;
    height:90px;
    margin-bottom:40px;
  }

  #footer-contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    a {
      display: block;
      font-family: $secondary-font;
      color:$blue;
      font-size:2rem;
      text-decoration: none;
      margin:15px 0;

      @include media-breakpoint-up(md) {
        margin:0 20px;
      }

    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;

      span a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 10px;
      }

    }

  }

  #copyright {
    padding-top:30px;
    text-align: center;
  }

}
