#home {

  #banner {
    position: relative;
    top:0;
    height: 600px;
    min-height: 600px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    background: blue;

    @include media-breakpoint-up(md) {
      padding-top: 190px;
      height: 80vh;
      min-height: 800px;
    }

    .row {
      justify-content: center;
    }

    h1 {
      text-align: left;
    }

    .col-12 {
      max-width: 1000px;
      position: relative;

      @include media-breakpoint-up(md) {
        margin-top: -140px;
      }

    }

    // text {
    //   font-family: $secondary-font;
    //   font-weight:400;
    //   color:white;
    //   fill:white;
    // }
    //
    // svg {
    //   width: 100%;
    //   width: 100%;
    //   position: relative;
    //   z-index: 100;
    //   color:white;
    //   fill:white;
    // }

    h1 {
      position: relative;
      z-index:1;
      color: white;
      line-height: 88%;
      margin:0;

      @include media-breakpoint-up(md) {
        line-height: 88%;
      }

      @include media-breakpoint-up(lg) {
        font-size:248px;
        line-height: 207px;
      }

      span {
        display: block;
        color:$green;
      }

    }

    #banner-content {
      z-index:1;
      color: white;
      position: relative;
      z-index: 1;
      color: white;
      padding:25px 5px;

      @include media-breakpoint-up(md) {
        padding:25px 20px;
      }

      @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 410px;
        max-width: 460px;
        padding:0 20px;
      }

      p {
        margin:0;
      }

    }

    #video_wrapper {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 600px;
      min-height: 600px;
      mix-blend-mode: multiply;

      @include media-breakpoint-up(md) {
        height: 80vh;
        min-height: 800px;
      }

      video {
        position: absolute;
        top: 0;
        object-fit: cover;
      }

    }

  }


  #banner-logos {

    ul {
      margin:30px 0 0 0;
      padding:0;
      display: flex;
      align-items: center;

      li {
        height: 40px;
        width: 40px;
        list-style: none;
        margin: 0 10px;

        @include media-breakpoint-up(md) {
          height: 50px;
          width: 50px;
        }

        &:first-child {
          margin-left:0;
        }

        &:last-child {
          margin-right:0;
        }

        img {
          height: 40px;
          width: 40px;

          @include media-breakpoint-up(md) {
            height: 50px;
            width: 50px;
          }

        }

      }

    }
  }

  #what-we-do {

    @include media-breakpoint-up(md) {
      padding-top:100px;
      margin-right: calc(50% - 50vw);
      margin-left:0;
      padding-bottom:25px;
    }

    h2 {
      margin-bottom:50px;
    }


    .col-12 {
      padding-right:0;

      @include media-breakpoint-up(md) {
      }

    }

    .slick-slider {
      margin-left: -15px;

      @include media-breakpoint-up(md) {
        margin-left:0;
        padding:0;
      }

      .slick-slide{

        &:first-child {

          @include media-breakpoint-up(md) {
            margin-left:0;
          }

        }

      }

    }

    .slick-list {
      @include media-breakpoint-up(md) {
        margin-left: -30px;
      }
      @include media-breakpoint-up(lg) {
        margin-left:0;
      }
    }

    .slick-slide {

      .services-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100px;
        height:100px;
        min-width: 100px;
        margin:0 auto;
        background:$pink;

        img {
          width:50px;
        }

      }

      &:nth-child(even) {
        .services-icon {
          background:$green;
        }
      }

      li {

        a {
          color:$black;
          text-decoration: none;


          > div {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 30px;

            @include media-breakpoint-up(lg) {
              flex-direction: row;
              text-align: left;
              padding:0;
            }
          }

          > div > div {

            @include media-breakpoint-up(lg) {
              padding:0 30px;
            }

            .service-content {
              overflow:hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 0.9rem;

              p {
                line-height:1.6rem;
                font-size: 0.9rem;
              }

            }

            h5 {
              font-size:2rem;
              line-height:2.4rem;
              margin:30px 0 10px 0;
              color:$blue;

              @include media-breakpoint-up(lg) {
                margin:0;
              }

            }

          }

        }

      }

    }



  }

  #how-we-work, #why-rubric-solutions {

    > div {
      padding:50px;

      @include media-breakpoint-up(md) {
        padding:50px 8vw;
      }

      @include media-breakpoint-up(lg) {
        padding:100px 10vw;
      }

    }

    > div:first-child {
      background:$blue;
      color:white;
      display: flex;
      justify-content: center;
      flex-direction: column;

      > div {
        position: relative;
        z-index:1;
      }

      &:after {
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        @include background-png(how_we_work, cover);
        z-index:0;
        mix-blend-mode: color-burn;
      }

      h2 {
        color:white;
        margin-bottom:40px;

        @include media-breakpoint-up(md) {
          font-size: 14vw;
          line-height: 12vw;
        }

        @include media-breakpoint-up(lg) {
          font-size: 12vw;
          line-height: 10vw;
        }

      }

      p {
        padding:0;

        @include media-breakpoint-up(md) {
          padding:0 10px;
        }

      }

    }

    > div:last-child {
      background:$pink;
      display: flex;
      align-items: center;
    }

    ul {
      margin:0;
      padding:0;
      list-style: none;

        li {
          display: flex;
          margin-bottom:20px;

          &:last-child {
            margin-bottom:0;
          }

          p {
            line-height:1.6rem;
          }

          h3 {
            margin:0;
            font-size:2rem;
            color:$blue;
            font-weight:500;
          	letter-spacing: 0.05rem;
            margin:0;

            @include media-breakpoint-up(md) {
              font-size:2.2rem;
            }

          }

          &:before {
            display: block;
            margin-right:20px;
            font-family: $secondary-font;
          	font-weight:400;
          	letter-spacing: 0.1rem;
            font-size:4rem;
            line-height:2.4rem;
            color:$blue;
            min-width: 40px;

            @include media-breakpoint-up(md) {
              font-size:6rem;
              line-height:4.4rem;
              min-width: 70px;
            }

          }

          &:first-child {

            &:before {
              content:'01';
            }

          }

          &:nth-child(2) {

            &:before {
              content:'02';
            }

          }

          &:nth-child(3) {

            &:before {
              content:'03';
            }

          }

          &:nth-child(4) {

            &:before {
              content:'04';
            }

          }

        }

    }

  }

  #why-rubric-solutions {
    padding-bottom:0;

    > div:first-child {

      &:after {
        @include background-png(why_rubric, cover);
        mix-blend-mode: overlay;
        opacity: 0.8;
      }

    }

    ul {

      li {

        &:before {
          display: none;
        }

        > div {
          display: flex;
          align-items: flex-start;

          img {
            width:50px;
            margin-right:40px;
          }

          h3 {
            font-size:3rem;
            margin-top:10px;
            margin-bottom:25px;
          }
        }

      }

    }

  }

  #about-us {

    img {
      width: 100%;
      padding:0 0 50px 0;

      @include media-breakpoint-up(md) {
        padding:0 100px 0 0;
      }

    }

  }

  #who-we-work-with {
    padding-top:7s0px;

    @include media-breakpoint-up(md) {
      padding-top:100px;
    }

    ul {
      padding:0;
      list-style: none;
      margin:50px 0 0 0;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        margin-bottom:30px;

        @include media-breakpoint-up(md) {
          width:33.33%;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom:40px;
        }

        p {
          margin:0;
          padding:0 10px;
          line-height:1.4rem;

          @include media-breakpoint-up(md) {
            padding:0 20px 0 10px;
          }

          @include media-breakpoint-up(lg) {
            padding:0 40px 0 10px;
          }

        }

        > span {
          display: flex;
          width:55px;
          min-width:55px;
          height:55px;
          background: $blue;
          margin-right:10px;
          align-items: center;
          justify-content: center;

          &:before {
            content:'';
            display: block;
            width:12px;
            height:30px;
            @include background-vector(icons/question_pink, contain);
          }

        }

        > div {

        }

        &:nth-child(odd) {

          > span {

            &:before {
              @include background-vector(icons/question_green, contain);
            }

          }

        }

        &:last-child {
          justify-content: flex-start;
          align-items: flex-start;

          h3 {
            font-size:3rem;
            margin:0;

            span {
              color:$green;
            }

          }

          h4 {
            margin:0;
            font-size:1.6rem;
            max-width: 140px;
            margin: -6px 0 0 16px;
          }

        }

      }

    }

  }

}
