html {
	width:100%;
	scroll-behavior: smooth !important;

	&.fix {
		overflow:hidden;
	}

}

body {
	color:$black;
	font-family: $primary-font;
	margin:0;
  width: 100%;
  height: 100%;
  overflow: auto;
	top:0;

	&.fix {
		overflow:hidden;
		position:fixed;
	}

	&.logged-in {
		//padding-top: 46px;

		@include media-breakpoint-up(md) {
			//padding-top: 32px;
		}



		#wpadminbar {
			position:fixed;
		}

		&.page-template-home {
			#header {
				top: 46px;

				@include media-breakpoint-up(md) {
					top: 32px;
				}

			}
		}

	}

}

.container {
	padding-right: 30px;
	padding-left: 30px;

	@include media-breakpoint-up(md) {
		max-width: 90vw;
	}

	@include media-breakpoint-up(lg) {
		max-width: 80vw;
	}

}

.green {
	background:$green;
}

.pink {
	background:$pink;
}

.blue {
	background:$blue;
}


section {
	padding:50px 0;

	@include media-breakpoint-up(md) {
		padding:50px 0;
	}

}
