.page-template-home {

  header {
    position: absolute;
    top:0;

    #nav {

      .menu-main-menu-container {

        > ul {

          > li {
            color:white;

            @include media-breakpoint-up(lg) {
            }

            a {

              @include media-breakpoint-up(md) {
                color:white;
              }

            }

          }

        }

      }

    }

  }

}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  top:0;
  width:100%;
  height:100px;
  margin-bottom:20px;

  background: rgba(255,255,255,0.8);


  @include media-breakpoint-up(md) {
    display: block;
    padding:0;
    margin:0 0 80px 0;
  }

  .container {
    @include media-breakpoint-up(md) {
      max-width:90%;
    }
  }

  #nav {
    width:100%;
    height: 100%;

    @include media-breakpoint-up(lg) {
      display:flex;
      width: 100%;
    }

    #logo-container {
      display: flex;
      align-items: center;
    }

    #menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .menu-main-menu-container {
      position:fixed;
      width: 100%;
      height:100%;
      background:$blue;
      top:0;
      left:0;
      display:none;
      z-index:10;

      @include media-breakpoint-up(lg) {
        display:block !important;
        padding:0;
        position:relative;
        width:initial;
        height:initial;
        overflow: inherit;
        background:none;
        width: 100%;
      }

      > ul {
        padding:150px 50px 50px 50px;
        position: absolute;
        width: 100%;
        height: 100%;
        list-style:none;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        @include media-breakpoint-up(lg) {
          position:relative;
          flex-direction: row;
          justify-content: space-evenly;
          align-items:center;
          text-align:right;
          margin:0;
          justify-content: flex-end;
          padding: 0;
        }

        > li {
          color:$blue;
          text-transform: uppercase;
          font-size: 1.6rem;
          letter-spacing: 0.06rem;
          margin:30px 0;
          font-family: $secondary-font;
          font-weight:400;
          position: relative;


          @include media-breakpoint-up(lg) {
            display:inline-block;
            margin: 0 30px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right:0;
            }

            &:hover {

              .sub-menu {
                visibility: visible;
                opacity: 1;
                display: block;
                visibility: visible;
                transition-delay: 0s;
              }

            }

            &:focus-within {

              .sub-menu {
                visibility: visible;
                opacity: 1;
                display: block;
                visibility: visible;
                transition-delay: 0s;
              }
            }

          }

          a {
            color:white;
            text-decoration:none;
            position:relative;

            @include media-breakpoint-up(lg) {
              color:$blue;
            }

            &:hover {
              cursor:pointer;
            }

          }

          &.current_page_item {
            a {
              &:after {
                width: 100%;
                left: 0;
              }
            }
          }

        }

        > li > .sub-menu {
          display:none;

          @include media-breakpoint-up(lg) {
            display:block;
            position: absolute;
            top:0;
            left:-13px;
            list-style:none;
            visibility: hidden;
            transition: 0.4s 0.5s;
            opacity:0;
            background:$blue;
            padding:20px;
            list-style:none;
            text-align: left;
            min-width: 220px;
            height:auto;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
            margin-top: 35px;
            margin-left: 0;
            margin-top: 43px;
            padding:0;
            line-height: 0.5rem;
            padding:0;
          }

          li {
            font-family: $secondary-font;
            font-weight:400;
            margin:0;
            padding: 15px 20px;
            background: $blue;
            overflow: hidden;

            @include media-breakpoint-up(lg) {
              padding:0;
              max-width: 100%;
              width: 100%;
              border-top: 1px solid #404C86;
              line-height: 1rem;

              &:first-child {
                border-top:none;
              }

              a:hover {
                background:$pink;
                color:$blue;
              }

            }

          }

          a {
            color: white;
            padding: 15px;
            line-height: 1.4rem;
            width: 100%;
            display: block;
            font-size: 1.2rem;

            @include media-breakpoint-up(lg) {

              &:hover {
                background:$pink;
              }

            }

          }

          @include media-breakpoint-up(lg) {
            position:absolute;
          }

        }

      }

    }

    #nav-icon {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 20px;
      top: 33px;
      border: none;
      outline: none;
      overflow:hidden;
      z-index:11;

      @include media-breakpoint-up(lg) {
        display:none;
      }

    }

    #nav-icon:after,
    #nav-icon:before,
    #nav-icon div {
      background-color: $pink;
      border-radius: 6px;
      content: '';
      display: block;
      height: 2px;
      margin: 6px 0;
      transition: all .2s ease-in-out;
    }

    #nav-icon.active:before {
      transform: translateY(8px) rotate(135deg);
    }

    #nav-icon.active:after {
      transform: translateY(-8px) rotate(-135deg);
    }

    #nav-icon.active div {
      transform: scale(0);
    }



    .menu-main-menu-container.active {
      ul {
        .btn {
          position:relative;
        }
      }
    }
  }

}


#logo,#footer-logo {
	display:block;
  width: 60px;
  height: 60px;
  margin:0 auto;
  position:relative;
  z-index: 3;
  @include background-vector(logo, contain);

  @include media-breakpoint-up(md) {
    width: 100px;
    height: 100px;
  }

}
