#services {

	h3 {
		text-align: center;
		margin: 0 auto;
		max-width: 550px;
	}

	.wp-block-group.alignfull {
		background: $blue;
		margin-top:70px;
		padding:100px 0;

		@include media-breakpoint-up(md) {
			margin-top:100px;
		}

		h2 {
			color:white;
			text-align: center;
		}

	}

	.services-block {

		ul {
			margin-top:80px;
			padding:0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include media-breakpoint-up(md) {
				margin-top:60px;
				width: calc(100% + 60px);
				position: relative;
				left: -30px;
			}

			li {
				text-align: center;
				list-style: none;
				margin-bottom:80px;

				@include media-breakpoint-up(md) {
					width:50%;
				}

				@include media-breakpoint-up(lg) {
					width:33.33%;
				}

				a {
					color:white;
					text-decoration: none;

					> div {
						padding:0 30px;

						span {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 110px;
							margin:20px 0 10px 0;
						}

						.service-content {
							overflow:hidden;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							overflow: hidden;
							font-size: 0.9rem;

							p {
								line-height:1.6rem;
								font-size: 0.9rem;
							}

						}

					}

					h5 {
						font-size: 3rem;
						line-height: 3rem;
					}

				}

				.services-icon {
					display: flex;
					width:90px;
					height:90px;
					margin:0 auto;
					align-items: center;

					img {
						width: 100%;
						max-height:80px;
					}

				}

				&:nth-child(odd){

					img {
						filter: invert(57%) sepia(65%) saturate(1107%) hue-rotate(302deg) brightness(103%) contrast(101%);
					}

				}

				&:nth-child(even){

					.services-icon {

						img {
							filter: invert(85%) sepia(51%) saturate(594%) hue-rotate(101deg) brightness(95%) contrast(91%);
						}

					}

				}

			}

		}

	}

}
