.single-services {


  #intro {
    margin-bottom:80px;

    @include media-breakpoint-up(md) {
      margin-bottom:100px;
    }

    .icon {
      display: block;
      width:100px;
      height:100px;
      margin:0 auto;

      @include media-breakpoint-up(md) {
        width:200px;
        height:200px;
      }

      img {
        width: 100%;
        filter: invert(57%) sepia(65%) saturate(1107%) hue-rotate(302deg) brightness(103%) contrast(101%);
      }

    }

    h1 {
      font-size: 3.4rem;
      line-height: 3.8rem;
      margin:25px 0;

      @include media-breakpoint-up(md) {
        font-size:8rem;
        line-height: 8rem;
        margin:40px 0;
      }

    }

  }

  .service-introduction {
    color: white;
    padding:100px 0;

    h2 {
      color: white;
    }

    img {
      width: 100%;
      padding:50px 0 0 0;

      @include media-breakpoint-up(md) {
        padding:0 0 0 100px;
      }

    }

  }

  #service-content {

    section {
      padding-top:100px;

      .row {
        padding-bottom:50px;

        @include media-breakpoint-up(md) {
          padding-bottom:100px;
        }

        > div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .service-image {

          > div {
            display: flex;
            background:$pink;
            align-items: center;
            justify-content: center;
          }

          > div > div {
            flex: 1 0 auto;
            height: auto;
            position: relative;

            &:before {
              content: '';
              display: block;
              padding-top: 100%;
            }

            > div {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            img {
              width: 100%;
              height:100%;
              max-width:400px;
              max-height: 400px;
              object-fit: contain;
              filter: invert(14%) sepia(10%) saturate(7124%) hue-rotate(204deg) brightness(94%) contrast(101%);
            }

          }

        }

        &:nth-child(odd) {
          display: flex;
          flex-direction: row-reverse;

          .service-image {
            padding:30px 0 0 0;

            @include media-breakpoint-up(md) {
              padding:0 50px 0 0;
            }

          }

        }

        &:nth-child(even) {
          display: flex;
          flex-direction: row;

          .service-image {
            padding:30px 0 0 0;

            @include media-breakpoint-up(md) {
              padding:0 0 0 50px;
            }


            > div {
              background:$green;
            }

          }

        }

        &:last-child {
          padding-bottom:0;
        }

      }

    }

  }

}
