/* Main column width */
.wp-block {
    max-width: 80%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block-button__link {
  color:#000;
  background:#fff;
  box-shadow: 0px 16px 20px rgba(0,0,0,0.1);
}

.has-background {
  color:white;
  background-color: #001c43;
}
