.btn, .editor a {
  padding:15px 18px;
  background:$pink;
  color:#000;
  text-decoration: none;
  margin:20px 0;
  display: inline-block;
  font-family: $secondary-font;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  color:black;
}
