:root .editor-styles-wrapper .has-black-color, :root .has-black-color {
  color:$black;
}

.wp-block {
  max-width: 100% !important;
}


.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: auto;
  max-width: 1000%;

  @include media-breakpoint-up(md) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .wp-block-group__inner-container, .wp-block-cover__inner-container {
    @include media-breakpoint-up(md) {
      max-width:960px;
      padding-right: 15px;
      padding-left: 15px;
      margin:0 auto;
    }

    @include media-breakpoint-up(lg) {
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

}

.wp-block-spacer {
  max-height: 50px;
  @include media-breakpoint-up(lg) {
    max-height: 150px;
  }

}
