h1,h2,h3,h4,h5,h6 {
	font-family: $secondary-font;
	font-weight:400;
	letter-spacing: 0.04rem;
}

h1 {
	font-size: 12vw;
	text-align: center;
	margin: 0 0 40px 0;
	line-height: 12vw;
	color:$blue;
}

h2 {
	font-size: 4rem;
	line-height: 4rem;
  font-weight: 400;
	color:$blue;
	margin:0;
	margin-bottom:25px;

	@include media-breakpoint-up(md) {
		font-size: 7rem;
		line-height: 7rem;
		margin-bottom: 30px;
	}

}

h3 {
	font-size: 1.5rem;
	line-height: 1.8rem;
	color:$blue;
}

body, p, ul, ol {
	font-family: $primary-font;
	font-weight:100;
	font-size: 0.9rem;
	line-height:1.6rem;
	letter-spacing: 0;
	text-rendering: geometricPrecision;

	@include media-breakpoint-up(md) {
		font-size: 0.9rem;
		line-height:1.9rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 0.9rem;
	}

}
