// BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  sm: 680px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
);

//  TYPOGRAPHY

$primary-font: "roboto", sans-serif !default;
$secondary-font: "abolition", sans-serif !default;

//  COLOURS

$black:#272727;
$green:#3CE7CD;
$pink:#FF719F;
$blue:#172154;

// IMAGES
